@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tudo */

* {
    font-family: inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

/* header */

header {
    width: 85vw;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo-topo {
    width: clamp(70px, 8vw, 112px);
    height: auto;
}

.menu-topo {
    display: none;
    cursor: pointer;
}

.menu-topo div {
    width: clamp(20px, 2.5vw, 32px);
    height: clamp(1px, 0.2vw, 2px);
    background: #000;
    margin: clamp(5px, 0.8vw, 8px);
}

.itens-topo {
    position: relative;
    display: flex;
    list-style: none;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 600;
    gap: clamp(10px, 3vw, 20px)
}

.itens-topo li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.itens-topo li img {
    cursor: pointer;
}

.itens-topo a {

    color: #12263B;
    text-decoration: none;
    transition: 0.3s;
}

.itens-topo a:hover {
    opacity: 0.7;
}

.dropdown-menu {
    position: absolute;
    top: 200%;
    padding: 10px 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    background-color: #fff;
    z-index: 999;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-menu li a {
    padding: 10px 40px;
    clear: both;
    white-space: nowrap;
}


.dropdown-menu.show {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 30px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.div-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.botao-cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: clamp(90px, 10vw, 170px);
    height: clamp(20px, 4vh, 40px);
    color: #fff;
    font-family: inter;
    font-weight: 600;
    font-size: clamp(10px, 1vw, 14px);
    background-color: #DF1E2F;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}

@media (max-width: 1000px) {

    .itens-topo {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 999;
    }

    .div-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .itens-topo.active {
        transform: translateX(0);
    }

    .itens-topo li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #E55C5C;
    }

    .itens-topo li:last-child {
        border-bottom: none;
    }

    .dropdown-menu {
        position: static;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .dropdown-menu.show {
        width: 100%;
        max-height: 300px;
        box-shadow: none;
    }

    .dropdown-menu li {
        border-bottom: none;
    }

    .dropdown-menu li a {
        text-align: center;
    }

    .menu-topo {
        display: block;
    }

    .botao-cliente {
        display: none;
    }
}

/* section 1 */

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding: 5vh 7.25vw;
    padding-top: 0;
    gap: clamp(40px, 9vw, 56px);
}

.div1-s1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45vw;
    max-width: clamp(700px, 51.24vw, 982px);
    gap: clamp(30px, 2.2vw, 42px);
}

.section-one h1 {
    background: linear-gradient(to bottom, #12263B, #3168A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
    font-size: clamp(38px, 3.2vw, 54px);
    line-height: 1.25;
}

.section-one span {
    display: block;
}

.section-one p {
    color: #505050;
    font-weight: 400;
    max-width: clamp(500px, 39.6vw, 703px);
    font-size: clamp(18px, 1.2vw, 22px);
    line-height: 1.7;
}

.section-one a.btn-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background-color: #DF1E2F;
    text-decoration: none;
    border-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: clamp(18px, 0.8vw, 16px) clamp(30px, 1.8vw, 32px);
    font-size: clamp(15px, 1.1vw, 20px);
    border-radius: clamp(10px, 0.7vw, 14px);
}

.section-one a.btn-scroll:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 24px rgba(223, 30, 47, 0.35);
}

.section-one img {
    height: auto;
    width: 35vw;
}

@media (max-width: 1024px) {

    .section-one {
        min-height: auto;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .div1-s1 {
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 30px;
    }

    .section-one h1 {
        font-size: 48px;
    }

    .section-one span {
        display: none;
    }

    .section-one p {
        font-size: 18px;
    }

    .section-one img {
        display: none;
    }
}

@media (max-width: 768px) {

    .section-one h1 {
        font-size: 35px;
    }

    .section-one span {
        display: block;
    }
}

/* section 2 */

.section-two {
    position: relative;
    background-image: url(../img/prancheta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15vh 7.25vw;
    gap: clamp(30px, 4vw, 60px);
}

.div1-s2 {
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 1.5vw, 20px);
    --h2-push-margin: clamp(200px, 14.6vw, 280px); 
    --h2-push-padding: clamp(65px, 4.75vw, 91px); 
    --elipse-border: clamp(1px, 0.07vw, 2px);  
}

.p1-s2 {
    font-weight: 600;
    font-size: clamp(16px, 1.2vw, 20px);
}

.elipse {
    display: flex;
    align-items: center;
    overflow: hidden;
    rotate: -1.03deg;
    border-radius: 50%;
    border: var(--elipse-border) solid #fff;
    padding-left: var(--h2-push-padding);
    width: clamp(700px, 60.7vw, 1166px);
    height: clamp(160px, 13.2vw, 253px);
    margin-left: calc(-1 * (var(--h2-push-margin) + var(--h2-push-padding) + var(--elipse-border)));

}

.h2-s2 {
    font-weight: 600;
    rotate: 1.03deg;
    margin-left: var(--h2-push-margin);
    font-size: clamp(32px, 2.92vw, 56px); 
    max-width: clamp(320px, 25.6vw, 492px);
    line-height: 110%;
}

.br-h2-s2 {
    display: inline;
}

.div2-s2 {
    display: flex;
    flex-direction: column;
    gap: clamp(25px, 2vw, 35px);
    max-width: clamp(600px, 43.92vw, 843px);
}

.alt-div1-s2,
.alt-p1-s2,
.alt-h2-s2 {
    display: none;
}

.p2-s2 {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    font-size: clamp(18px, 1.3vw, 25px);
    line-height: 1.6;
    margin-bottom: 0;
}

.h3-s2 {
    color: #E55C5C;
    font-weight: 800;
    font-size: clamp(25px, 1.83vw, 35px);
}

@media (max-width: 1024px) {

    .section-two {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-height: auto;
        height: auto;
        padding: 80px 5vw;
        gap: 50px;
    }

    .div1-s2 {
        display: none;
    }

    .alt-div1-s2 {
        display: block;
    }

    .alt-p1-s2 {
        display: block;
        font-weight: 600;
    }

    .alt-h2-s2 {
        display: block;
        font-weight: 600;
        font-size: 42px;
    }

    .p2-s2,
    .h3-s2 {
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .p2-s2 {
        font-size: 20px;
    }

    .h3-s2 {
        font-size: 28px;
    }
}

@media (max-width: 768px) {

    .section-two {
        height: auto;
        padding: 60px 20px;
        gap: 40px;
    }

    .alt-h2-s2 {
        font-size: 25px;
    }

    .p2-s2 {
        font-size: 16px;
        line-height: 1.6;
    }

    .h3-s2 {
        font-size: 22px;
    }
}


/* section 3 */

.carousel-conteiner {
    display: flex;
    align-items: center;
    position: relative;
    width: 90vw;
    max-width: 1400px;
    margin: clamp(100px, 10vh, 150px) auto;
}

.section-three {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: clamp(24px, 2vw, 30px);
    padding: 20px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section-three::-webkit-scrollbar {
    display: none;
}

.itens-s3 {
    flex: 0 0 calc((100% / 3) - clamp(16px, 1.33vw, 20px) * 2 / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    gap: 30px;
    border-radius: 20px;
    padding: clamp(25px, 2vw, 40px);
    height: clamp(360px, 26vw, 420px);
    border: solid 1px rgba(71, 71, 71, 0.445) ;  
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease;
}

.itens-s3:hover {
    transform: translateY(-5px);
}

.cabecalho-s3 {
    display: flex;
    align-items: center;
    gap: clamp(15px, 1.2vw, 20px);
}

.cabecalho-s3 img {
    height: clamp(50px, 4vw, 70px);
    width: auto;
    object-fit: contain;
}

.itens-s3 h2 {
    color: #12263B;
    font-size: clamp(22px, 1.8vw, 32px);
    font-weight: 700;

}

.itens-s3 h3 {
    font-weight: 600;
    font-size: clamp(24px, 2.2vw, 30px);
    color: #12263B;
    min-height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens-s3 p {
    color: #505050;
    font-weight: 400;
    font-size: clamp(15px, 1.1vw, 18px);
    line-height: 1.5;
}

.div-button-s3 {
    width: 100%;
    margin-top: auto;
}

.itens-s3 button {
    cursor: pointer;
    color: #fff;
    background-color: #E55C5C;
    padding: clamp(8px, 0.8vw, 12px) clamp(16px, 1.5vw, 24px);
    border: none;
    border-radius: 8px;
    font-size: clamp(16px, 1.2vw, 22px);
    font-weight: 500;
}

.carousel-btn {
    display: block;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.carousel-btn:hover {
    transform: scale(1.1);
}

.carousel-btn:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.prev-btn {
    position: absolute;
    left: -4vw;
}

.next-btn {
    position: absolute;
    right: -4vw;
}

.carousel-dots {
    display: none;
}

@media (max-width: 1024px) {
    .carousel-conteiner {
        width: 90vw;
        max-width: 900px;
    }

    .section-three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: visible;
        padding: 0;
        gap: 30px;
    }

    .itens-s3 h3 {
        font-size: 25px;
    }

    .carousel-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel-conteiner {
        margin: 60px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .section-three {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        padding: 20px calc((100vw - 85vw) / 2);
    }

    .itens-s3 {
        flex: 0 0 85vw;
        scroll-snap-align: center;
        min-height: 320px;
    }

    .itens-s3 h2 {
        font-size: 28px;
    }

    .itens-s3 h3 {
        font-size: 22px;
    }

    .itens-s3 p {
        font-size: 16px;
    }

    .itens-s3 button {
        font-size: 16px;
    }

    .carousel-dots {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }

    .carousel-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        border: none;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .carousel-dot.active {
        background-color: #E55C5C;
        transform: scale(1.2);
    }

    .itens-s3 {
        min-height: 300px;
    }

    .carousel-btn {
        display: none;
    }
}

/* section 4 */

.section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7.25vw 20vh 7.25vw;
}

.section-four h2 {
    text-align: center;
    color: #12263B;
    font-weight: 800;
    font-size: clamp(2.25rem, 1.5rem + 2.5vw, 3.25rem);
    margin-bottom: clamp(3rem, 6vh, 5rem);
}

.itens-s4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2.5rem, 5vw, 4rem);
    width: 100%;
}

.itens-s4 div {
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 5vw, 4rem);
}

.itens-s4 div img {
    width: auto;
    max-height: clamp(50px, 5vw, 100px);
}

.logo2 {
    display: none;
}


@media (max-width: 1024px) {
    .section-four {
        margin: 10vh 0;
        padding: 0 5vw;
    }

    .section-four h2 {
        font-size: 2.5rem;
    }

    .itens-s4,
    .itens-s4 div {
        flex-wrap: wrap;
        gap: clamp(2rem, 6vw, 3rem);
    }
}

@media (max-width: 768px) {

    .section-four {
        margin: 0;
    }

    .itens-s4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem 1.5rem;
        align-items: center;
        justify-items: center;
    }

    .itens-s4>div {
        display: contents;
    }

    .itens-s4 div img {
        max-height: 100%;
    }

    .logo1 {
        display: none;
    }

    .logo2 {
        display: block;
    }
}

/* section 5 */

.section-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 7.25vw 5vh 7.25vw;
}

.p1-s5 {
    color: #444242;
    font-weight: 600;
    font-size: clamp(15px, 1.1vw, 21px);
    margin-bottom: clamp(10px, 0.73vw, 14px);
}

.h2-s5 {
    font-weight: 800;
    font-size: clamp(40px, 2.92vw, 56px);
    color: #12263B;
    margin-bottom: clamp(40px, 2.93vw, 56px);
}

.talk-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: clamp(60px, 4.39vw, 84px);
    background-color: #DF1E2F;
    margin: 0 auto;
    border-radius: clamp(40px, 2.93vw, 56px);
    max-width: clamp(1200px, 87.8vw, 1683px);
}

.div-depoimento {
    width: 63%;
}

.depoimento {
    color: #fff;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    font-size: clamp(20px, 1.46vw, 28px);
    line-height: 1.4;
}

.depoimento span {
    font-weight: 700;
}

.pessoas {
    position: absolute;
    left: 65%;
    top: -45%;
    text-align: center;
}

.pessoas img {
    width: clamp(280px, 20.5vw, 393px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0px clamp(10px, 0.73vw, 14px) clamp(30px, 2.2vw, 42px) rgba(0, 0, 0, 0.2);
}

.p2-s5 {
    color: #fff;
    font-weight: 600;
    font-style: italic;
    font-size: clamp(20px, 1.46vw, 28px);
    line-height: 1.3;
    margin-top: clamp(20px, 1.46vw, 28px);
}

.alt-p2-s5 {
    display: none;
}

@media (max-width: 1024px) {

    .section-five {
        align-items: center;
        padding: 0 5vw;
        margin: 80px auto;
    }

    .p1-s5,
    .h2-s5 {
        margin-left: 0;
        text-align: center;
    }

    .h2-s5 {
        font-size: 42px;
        margin-bottom: 100px;
    }

    .talk-box {
        flex-direction: column;
        height: auto;
        padding: 80px 40px 40px 40px;
    }

    .pessoas {
        position: static;
        order: 1;
        transform: translateY(-50%);
        margin-bottom: -15%;
    }

    .pessoas img {
        width: 180px;
    }

    .div-depoimento {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .depoimento,
    .p2-s5 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .section-five {
        padding: 0 20px;
        margin: 60px auto;
    }

    .h2-s5 {
        font-size: 34px;
        margin-bottom: 80px;
    }

    .talk-box {
        padding: 30px 25px;
    }

    .pessoas {
        flex-direction: column;
        gap: 15px;
        transform: translateY(-70px);
        margin-bottom: -35px;
    }

    .pessoas img {
        width: 120px;
        border-width: 6px;
    }

    .depoimento {
        font-size: 16px;
    }

}

/* section 6 */

.section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7.25vw;
    overflow: hidden;
}

.section-six h2 {
    color: #12263B;
    font-weight: 500;
    text-align: center;
    font-size: clamp(40px, 2.92vw, 56px);
    margin: clamp(60px, 4.39vw, 84px) 0;
}

.section-six h2 span {
    font-weight: 800;
}

.itens-s6 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: clamp(50px, 3.66vw, 70px);
}

.div-s6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(20px, 1.46vw, 28px);
    flex: 1;
}

.div-s6 div {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    background-color: #F0F0F0;
    border-radius: clamp(15px, 1.1vw, 21px);
    height: clamp(79px, 5.78vw, 111px);
    min-height: clamp(80px, 6vw, 110px);
    padding: 10px 50px 0;
}

.section-six p {
    color: #828282;
    font-weight: 500;
    font-size: clamp(16px, 1.2vw, 20px);
    width: 100%;
    line-height: 1.4;
}

.section-six p::before {
    content: "✅";
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .section-six h2 {
        font-size: 38px;
    }

    .itens-s6 {
        flex-wrap: wrap;
        gap: 30px;
    }

    .div-s6 {
        flex: 1 1 320px;
    }

    .section-six p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    .section-six {
        padding: 0;
        margin: 40px 0;
    }

    .section-six h2 {
        font-size: clamp(32px, 8vw, 40px); 
        margin: 0 0 30px 0;
        padding: 0 20px;
    }

    .itens-s6 {
        flex-wrap: nowrap; 
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
        scroll-padding: 20px; 
        padding: 0 20px; 
        gap: 15px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .itens-s6::-webkit-scrollbar {
        display: none;
    }

    .div-s6 {
        flex: 0 0 90%; 
        scroll-snap-align: start;
    }

    .div-s6 div {
        min-height: 65px;
    }

    .section-six p {
        font-size: 15px;
    }
}

/* section 7 */

.section-seven {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12263B;
    color: #fff;
    margin: 100px 0 0 0;
    padding: 15vh 7.25vw;
    gap: clamp(50px, 5vw, 100px);
    height: auto;
}

.bloco-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.p1-s7 {
    font-weight: 600;
    font-size: clamp(15px, 1.1vw, 21px);
    margin-bottom: -20px;
}

.section-seven h2 {
    font-size: clamp(40px, 2.92vw, 56px);
    font-weight: 800;
    line-height: 1.2;
}

.p2-s7 {
    font-size: clamp(18px, 1.3vw, 25px);
    font-weight: 300;
    line-height: 1.6;
}

.btn-scroll {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: clamp(13px, 1vw, 18px);
    background-color: #DF1E2F;
    border-style: none;
    padding: clamp(20px, 1.46vw, 28px) clamp(25px, 1.83vw, 35px);
    border-radius: 8px;
    width: fit-content;
    transition: transform 0.3s ease;
}

.btn-scroll:hover {
    transform: scale(1.05);
}

.botao2 {
    display: none;
    text-decoration: none;
}


.capa-video img {
    cursor: pointer;
    width: clamp(300px, 46.85vw, 640px);
    aspect-ratio: 16 / 9;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.capa-video img:hover {
    transform: scale(1.05);
}

.lightbox {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 999;
}

.lightbox.is-open {
    visibility: visible;
    opacity: 1;
}

.lightbox-content {
    position: relative;
    width: 90%;
    max-width: 900px;
    background: #181818;
    z-index: 99;
}

.close-lightbox {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    z-index: 3;
}

.close-lightbox img {
    width: 100%;
    height: 100%;
    display: block;
}

.close-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

.video-container {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #DF1E2F;
}

@media (max-width: 1024px) {

    .section-seven {
        flex-direction: column;
        text-align: center;
        gap: 50px;
        padding: 80px 5vw;
        min-height: auto;
    }

    .bloco-texto {
        max-width: 650px;
        align-items: center;
    }

    .capa-video img {

        width: 80vw;
        max-width: 600px;
    }

    .p2-s7 {
        display: none;
    }

    .botao1 {
        display: none;
    }

    .botao2 {
        display: block;
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        font-size: clamp(13px, 1vw, 18px);
        background-color: #DF1E2F;
        border-style: none;
        padding: clamp(20px, 1.46vw, 28px) clamp(25px, 1.83vw, 35px);
        border-radius: 8px;
        width: fit-content;
        transition: transform 0.3s ease;
    }

    .botao2:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .section-seven {
        padding: 60px 20px;
    }

    .section-seven h2 {
        font-size: 34px;
    }

    .p2-s7 {
        font-size: 16px;
    }

    .capa-video img {
        width: 100%;
    }
}

/* section 8 */

.section-eight {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #EFF4F7;
    align-items: center;
    padding: clamp(100px, 10vh, 150px) 7.25vw;
}

.section-eight .p1-s8 {
    font-weight: 600;
    font-size: clamp(15px, 1.1vw, 21px);
    color: #5a5a5a;
}

.section-eight h2 {
    font-weight: 500;
    font-size: clamp(40px, 2.92vw, 56px);
    color: #12263B;
    text-align: center;
    margin-bottom: clamp(40px, 2.92vw, 56px);
}

.section-eight span {
    font-weight: 700;
}

.conteiner-s8 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: clamp(20px, 2vw, 40px) clamp(30px, 4vw, 50px);
    border-radius: 8px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.07);
    width: 100%;
    max-width: 900px;
    height: auto;
}

.faq-item {
    border-bottom: solid 1px #e0e0e0;
    padding: clamp(20px, 1.5vw, 28px) 0;
}

.faq-item:first-child {
    padding-top: 0;
}

.faq-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.faq-pergunta {
    cursor: pointer;
    font-weight: 700;
    font-size: clamp(16px, 1.2vw, 22px);
    color: #12263B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.faq-pergunta::after {
    content: '+';
    font-size: clamp(22px, 2vw, 30px);
    color: #DF1E2F;
    font-weight: 300;
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
}

.faq-item.active .faq-pergunta::after {
    transform: rotate(45deg);
}

.faq-resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding-top 0.4s ease-out;
    color: #333;
    font-weight: 400;
    font-size: clamp(15px, 1.1vw, 19px);
    line-height: 1.6;
}

.faq-resposta p {
    text-align: left;
    padding-top: 0;
}

.faq-item.active .faq-resposta {
    max-height: 500px;
    padding-top: 15px;
    padding-bottom: 10px;
}

@media (max-width: 1024px) {

    .section-eight {
        padding: 80px 5vw;
        min-height: auto;
    }

    .section-eight h2 {
        font-size: 38px;
    }

    .faq-item:first-child {
        padding: clamp(20px, 1.5vw, 28px) 0;
    }

    .faq-item:last-child {
        padding: clamp(20px, 1.5vw, 28px) 0;
        border-bottom: none;
    }

    .faq-pergunta {
        font-size: 18px;
    }

    .faq-resposta {
        font-size: 16px;
    }
}

@media (max-width: 768px) {



    .section-eight {
        height: auto;
        padding: 60px 20px;
    }

    .section-eight h2 {
        font-size: 27px;
        width: 290px;
    }

    .conteiner-s8 {
        padding: 10px 20px;

    }

    .faq-pergunta {
        font-size: 16px;
    }

    .faq-resposta {
        font-size: 15px;
    }
}

/* section 9 */

.section-nine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15vh 7.25vw;
    gap: clamp(50px, 5vw, 100px);
}

.texto-conteiner-s9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(25px, 2.5vw, 40px);
    max-width: clamp(450px, 45vw, 600px);
}

.section-nine h2 {
    background: linear-gradient(to bottom, #12263B, #3168A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(36px, 3vw, 50px);
    font-weight: 900;
    line-height: 1.2;
}

.section-nine p {
    color: #505050;
    font-weight: 400;
    line-height: 1.5;
    font-size: clamp(16px, 1.3vw, 20px);
}

.section-nine a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: clamp(14px, 1.1vw, 18px);
    background-color: #E55C5C;
    border-style: none;
    padding: clamp(16px, 1.2vw, 22px) clamp(28px, 2vw, 38px);
    border-radius: clamp(8px, 0.6vw, 11px);
    transition: transform 0.3s ease;
}

.section-nine a:hover {
    transform: scale(1.05);
}

.section-nine img {
    width: clamp(450px, 42vw, 573px);
    height: auto;
    border-radius: 16px;
}

@media (max-width: 1024px) {
    .section-nine {
        display: none;
    }
}

/* forms */

.formulario {
    display: flex;
    flex-wrap: wrap;
    background-color: #4B648F;
    justify-content: space-around;   
    padding: 10vh 0;
}

.formulario h2 {
    color: #fff;
    font-weight: 900;
    font-size: clamp(52px, 3.8vw, 60px); 
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: clamp(546px, 40vw, 768px);
    height: clamp(498px, 64.8vh, 700px);
    padding: clamp(40px, 2.9vw, 56px) clamp(20px, 1.4vw, 28px); 
    border-radius: clamp(21px, 1.56vw, 30px);
}

.campos-forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 1.4vw, 28px); 
}

.campos-forms div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.formulario label {
    color: #2b2a2a;
    margin-bottom: 5px; 
}

.formulario label::after {
    content: "*";
    color: #DF1E2F;
}

.formulario input, select {
    height: 3em;
    border: solid 1px #a09a9a;
    border-radius: clamp(10px, 0.7vw, 14px); 
    padding-left: clamp(10px, 0.7vw, 14px); 
    font-size: 16px; 
}

.sugestoes-container {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.sugestoes-container div {
    padding: 8px;
    cursor: pointer;
}

.sugestoes-container div:hover {
    background-color: #f0f0f0;
}

.botao-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario p {
    color: #5a5a5a;
    font-size: clamp(12px, 0.9vw, 14px); 
    text-align: center;
    max-width: 90%; 
}

.formulario button {
    cursor: pointer;
    background-color: #E55C5C;
    color: #fff;
    width: 80%;
    font-size: clamp(20px, 1.4vw, 28px); 
    font-weight: 600;
    height: 3em;
    border-radius: 50px;
    border-style: none;
}

@media (max-width: 1024px) {

    .formulario {
        flex-direction: column; 
        align-items: center; 
        gap: 50px; 
        padding: 10vh 5vw;
    }

    .formulario h2 {
        text-align: center; 
        font-size: clamp(44px, 5vw, 52px); 
    }

    .formulario form {
        width: 85vw;
        max-width: 600px; 
        height: auto; 
    }

}

@media (max-width: 768px) {

    .formulario h2 {
        font-size: clamp(32px, 8vw, 44px);
    }

    .formulario form {
        width: 90vw;
        padding: 30px 5px; 
        gap: 35px;  
    }

    .campos-forms {
        flex-direction: column;
        gap: 25px; 
    }

    .campos-forms div {
        width: 80%;
        box-sizing: border-box;
    }

    .formulario button {
        width: 90%;
        font-size: 18px;
    }

    .formulario p {
        max-width: 100%; 
        font-size: 12px;
    }
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #12263B;
    padding: 100px 0 100px 0;
}

.div-desc-footer {
    display: flex;
    flex-direction: column;
}

.alinha-desc-footer {
    display: flex;

}

.logo-footer {
    width: 80px;
    height: 40px;
    margin-bottom: 50px;
}

.desc-footer {
    max-width: 266px;
    height: 75px;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-align: justify;
    margin: 0;
    margin-left: 10px;
    line-height: 15px;

}

.selo {
    width: 56px;
}

.copy {
    width: 278px;
    margin-left: 66px;
    font-weight: 500;
    font-size: 12px;
    color: #7d7d7d;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div-nav-footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav-footer:not(:first-child) {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    height: auto;
}

#nav-footer-contatos {
    display: none;
}


.nav-footer h2 {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 16px;
    color: #E55C5C;
}

.nav-footer ul {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    list-style: none;
    margin-bottom: 30px;
}

.nav-footer a {
    color: #fff;
    text-decoration: none;
}

.nav-footer a:hover {
    text-decoration: underline;
}

.nav-footer ul li {
    margin-bottom: 10px;
}

.nav-footer img {
    transition: 0.2s ease-in-out;
}

.nav-footer img:hover {
    opacity: 0.5;
}

@media (max-width: 1000px) {


    footer {
        position: relative;
        padding-bottom: 10px;
    }

    .logo-footer {
        margin-top: 30px;
    }

    .div-logo-footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .selo {
        width: 50px;
    }

    .div-desc-footer {
        align-items: flex-start;
    }

    .alinha-desc-footer {
        margin-bottom: 5px;
    }

    .copy {
        margin-left: 50px;
    }

    .desc-footer {
        margin: 0;
    }

    .nav-footer:not(:first-child) {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        height: auto;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .g2i-footer {
        text-align: center;
    }

    .social {
        display: flex;
        gap: 30px;

    }

}