@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tudo */

* {
    font-family: inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    position: relative;
}

/* header */

header {
    width: 85vw;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo-topo {
    width: clamp(70px, 8vw, 112px);
    height: auto;
}

.menu-topo {
    display: none;
    cursor: pointer;
}

.menu-topo div {
    width: clamp(20px, 2.5vw, 32px);
    height: clamp(1px, 0.2vw, 2px);
    background: #000;
    margin: clamp(5px, 0.8vw, 8px);
}

.itens-topo {
    position: relative;
    display: flex;
    list-style: none;
    font-size: clamp(12px, 1vw, 16px);
    font-weight: 600;
    gap: clamp(10px, 3vw, 20px)
}

.itens-topo li {
    display: flex;
    align-items: center;
    gap: 5px;
}

.itens-topo li img {
    cursor: pointer;
}

.itens-topo a {

    color: #12263B;
    text-decoration: none;
    transition: 0.3s;
}

.itens-topo a:hover {
    opacity: 0.7;
}

.dropdown-menu {
    position: absolute;
    top: 200%;
    padding: 10px 0;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    background-color: #fff;
    z-index: 999;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown-menu li a {
    padding: 10px 40px;
    clear: both;
    white-space: nowrap;
}


.dropdown-menu.show {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 30px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.div-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.botao-cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: clamp(90px, 10vw, 170px);
    height: clamp(20px, 4vh, 40px);
    color: #fff;
    font-family: inter;
    font-weight: 600;
    font-size: clamp(10px, 1vw, 14px);
    background-color: #DF1E2F;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}

@media (max-width: 1000px) {

    .itens-topo {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 999;
    }

    .div-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .itens-topo.active {
        transform: translateX(0);
    }

    .itens-topo li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #E55C5C;
    }

    .itens-topo li:last-child {
        border-bottom: none;
    }

    .dropdown-menu {
        position: static;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .dropdown-menu.show {
        width: 100%;
        max-height: 300px;
        box-shadow: none;
    }

    .dropdown-menu li {
        border-bottom: none;
    }

    .dropdown-menu li a {
        text-align: center;
    }

    .menu-topo {
        display: block;
    }

    .botao-cliente {
        display: none;
    }
}

/* section 1 */

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 7.25vw;
    min-height: 90vh;
    gap: clamp(40px, 4vw, 80px);
}

.texto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: clamp(20px, 1.46vw, 28px);
    flex: 1 1 50%;
    max-width: clamp(650px, 47.58vw, 913px);
}

.section-one h1 {
    background: linear-gradient(to bottom, #12263B, #3168A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(40px, 2.93vw, 56px);
    font-weight: 900;
    line-height: 1.15;
    margin-bottom: clamp(20px, 1.5vw, 30px);
}

.br-h1-s1 {
    display: inline;
}

.section-one p {
    color: #505050;
    font-size: clamp(25px, 1.83vw, 35px);
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: clamp(30px, 2.5vw, 40px);
}

.section-one a.btn-scroll { 
    height: clamp(90px, 6.58vw, 120px);
    width: clamp(325px, 23.79vw, 420px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: clamp(20px, 1.46vw, 28px);
    background-color: #DF1E2F;
    border-radius: clamp(60px, 4.39vw, 70px);
    text-decoration: none;
    border-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-one a.btn-scroll:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(223, 30, 47, 0.4);
}

.imagem-hero {
    height: 65vh;
}

@media (max-width: 1024px) {
    
    .section-one {
        min-height: auto;
        flex-direction: column; 
        text-align: center;
        justify-content: center;
        padding: 5vh 7.25vw;
    }

    .texto-container {
        align-items: center;
        gap: 50px;
    }

    .section-one h1 {
        font-size: 40px;
    }

    .section-one p {
        font-size: 18px;
    }

    .imagem-hero {
        display: none;
    }
}

@media (max-width: 767px) {

    .section-one {
        flex-direction: column-reverse; 
        padding: 60px 20px;
        gap: 40px;
    }

    .section-one h1 {
        font-size: 30px;
    }

    .section-one p {
        font-size: 16px;
    }

    .section-one a.btn-scroll {
        width: 260px;
        height: 70px;
        font-size: 18px;
    }
}

/* section 2 */

.section-two {
    display: flex;
    flex-direction: column;
    padding: 0 7.25vw 15vh 7.25vw;
    align-items: center;
    gap: 50px;
}

.section-two h2 {
    background: linear-gradient(to bottom, #12263B, #3168A1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 46px;
    text-align: center;
}

.conteiner-s2 {
    display: flex;
    justify-content: space-between;
}

.conteiner-s2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 237px;
    gap: 20px;
}

.conteiner-s2 p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #444242;
}

@media (max-width: 1024px) {

    .section-two {
        padding: 0vh 7.25vw 5vh;
    }

    .conteiner-s2 {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .conteiner-s2 div {
        width: 150px;
        justify-content: center;
    }

@media (max-width: 768px) {

    .section-two {
        padding: 60px 5vw;
        gap: 40px;
    }

    .section-two h2 {
        font-size: 40px;
    }


}

}

/* forms */

.formulario {
    display: flex;
    flex-wrap: wrap;
    background-color: #4B648F;
    justify-content: space-around;   
    padding: 10vh 0;
}

.formulario h2 {
    color: #fff;
    font-weight: 900;
    font-size: clamp(52px, 3.8vw, 60px); 
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: clamp(546px, 40vw, 768px);
    height: clamp(498px, 64.8vh, 700px);
    padding: clamp(40px, 2.9vw, 56px) clamp(20px, 1.4vw, 28px); 
    border-radius: clamp(21px, 1.56vw, 30px);
}

.campos-forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 1.4vw, 28px); 
}

.campos-forms div {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.formulario label {
    color: #2b2a2a;
    margin-bottom: 5px; 
}

.formulario label::after {
    content: "*";
    color: #DF1E2F;
}

.formulario input, select {
    height: 3em;
    border: solid 1px #a09a9a;
    border-radius: clamp(10px, 0.7vw, 14px); 
    padding-left: clamp(10px, 0.7vw, 14px); 
    font-size: 16px; 
}

.sugestoes-container {
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.sugestoes-container div {
    padding: 8px;
    cursor: pointer;
}

.sugestoes-container div:hover {
    background-color: #f0f0f0;
}

.botao-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formulario p {
    color: #5a5a5a;
    font-size: clamp(12px, 0.9vw, 14px); 
    text-align: center;
    max-width: 90%; 
}

.formulario button {
    cursor: pointer;
    background-color: #E55C5C;
    color: #fff;
    width: 80%;
    font-size: clamp(20px, 1.4vw, 28px); 
    font-weight: 600;
    height: 3em;
    border-radius: 50px;
    border-style: none;
}

@media (max-width: 1024px) {

    .formulario {
        flex-direction: column; 
        align-items: center; 
        gap: 50px; 
        padding: 10vh 5vw;
    }

    .formulario h2 {
        text-align: center; 
        font-size: clamp(44px, 5vw, 52px); 
    }

    .formulario form {
        width: 85vw;
        max-width: 600px; 
        height: auto; 
    }

}

@media (max-width: 768px) {

    .formulario h2 {
        font-size: clamp(32px, 8vw, 44px);
    }

    .formulario form {
        width: 90vw;
        padding: 30px 5px; 
        gap: 35px;  
    }

    .campos-forms {
        flex-direction: column;
        gap: 25px; 
    }

    .campos-forms div {
        width: 80%;
        box-sizing: border-box;
    }

    .formulario button {
        width: 90%;
        font-size: 18px;
    }

    .formulario p {
        max-width: 100%; 
        font-size: 12px;
    }
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #12263B;
    padding: 100px 0 100px 0;
}

.div-desc-footer {
    display: flex;
    flex-direction: column;
}


.alinha-desc-footer {
    display: flex;
    
}

.logo-footer {
    width: 80px;
    height: 40px;
    margin-bottom: 50px;
}

.desc-footer {
    max-width: 266px;
    height: 75px;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-align: justify;
    margin: 0;
    margin-left: 10px;
    line-height: 15px;

}

.selo {
    width: 56px;
}

.copy {
    width: 278px;
    margin-left: 66px;
    font-weight: 500;
    font-size: 12px;
    color: #7d7d7d;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.div-nav-footer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav-footer:not(:first-child) {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    height: auto;
}

#nav-footer-contatos {
    display: none;
}


.nav-footer h2 {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 16px;
    color: #E55C5C;
}

.nav-footer ul {
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    list-style: none;
    margin-bottom: 30px;
}

.nav-footer a {
    color: #fff;
    text-decoration: none;
}

.nav-footer a:hover {
    text-decoration: underline;
}

.nav-footer ul li {
    margin-bottom: 10px;  
}

.nav-footer img {
    transition: 0.2s ease-in-out;
}
.nav-footer img:hover {
    opacity: 0.5;
}

@media (max-width: 1000px) {

    
    footer {
        position: relative;
        padding-bottom: 10px;
    }
    
    .logo-footer {
        margin-top: 30px;
    }

    .div-logo-footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .selo {
        width: 50px;
    }

    .div-desc-footer {
        align-items: flex-start;
    }

    .alinha-desc-footer {
        margin-bottom: 5px;
    }

    .copy {
        margin-left: 50px;
    }

    .desc-footer {
        margin: 0;
    }

    .nav-footer:not(:first-child) {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        height: auto;
}

    .nav-footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .g2i-footer {
        text-align: center;
    }

    .social {
        display: flex;
        gap: 30px;

    }

}
